*{
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
}

#content {
  margin: 0 auto;
}

#hello-container {
  margin-top: 20px;
  margin-left: 50px;
}

.helper-text {
  font-style: italic; 
  margin-bottom: 20px;
}

h1 {
  font-family: 'Noto Sans';
  font-weight: 300;
  font-size:  80px;
  font-style: bold;
  margin-bottom: 40px;
  margin-top: 35px;
}

p {
  font-family: 'Open Sans';
  font-weight: 200;
  font-size: 20px;
}

/* nav bar styling */
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #3C6F7F
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background:  rgb(0, 0, 0);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  font-family: 'Noto Sans';
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

/* bio styling */
.bio-text{
  margin-left: 20px;
}
 
.social-icons-ul {
  display: flex;
  flex-direction: row;
  z-index: 2;
  list-style-type: none;
  margin-top: 20px;
  padding: 0px;
} 

.profile-img {
  margin-top: 10px;
}

.social-icons {
  height: 100%;
  width: 100%;
  font-size: 20px;
  margin: 25px 9px;
  padding: 15px;
  border-radius: 50%;
  background: #3e4040;
  color: #fff;
}
 
.social-icons:hover {
  background: #fff;
  color: #3e4040;
  border: 2px solid #3e4040;
}

#greeting-container {
  margin-top: 20px;
}

.profile-img img {
  vertical-align: middle;
  width: auto;
  max-height: 100%;
  border-radius: 50% ;
}

/* activities section styling */
h2{
  font-family: 'Noto Sans';
  font-weight: 300;
  font-size:  40px;
  font-style: bold;
  margin-top: 50px;
}

.underline-magical {
  background-image: linear-gradient(to right, rgb(250, 112, 154) 0%, rgb(254, 225, 64) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.underline-magical:hover{
  background-size: 100% 88%;
}

/* skills section */
.tag {
  color: white;
  display: inline-block;
  padding: 10px 18px 10px 29px;
  border-radius: 90px 30px 30px 90px;
  position: relative;
  margin: 0 25px 25px 0;
  font-family: 'Noto Sans';
  font-weight: 200px;
  font-size: 15px;
}

.tag:hover {
  color: #2E4455;
  background: white;
  border-color:  #2E4455;
  border-style: solid;
}

.tag1 {
  background: #2E4455;
  opacity: 1;
}

.tag2{
  background: #3C6F7F;
  opacity: 1;
}

.tag3 {
  background: #4A99A7;
  opacity: 1;
}

.tag:after {
  content: '';
  width: 10px;
  height: 10px;
  background: white;
  position: absolute;
  top: 14px;
  left: 10px;
  border-radius: 90px;
}

/* styling food diary section */
.food-dairy {
  margin-top: 40px;
  margin-left: 0px;
}

.food-img img {
  margin-top: 20px;
  vertical-align: left;
  padding-left: 0px;
  margin-left: 0px;
  width: 90%; 
  height: 25%;
}

.food-second {
  margin-top: 30px;
}

/* food pictures caption styling */
.caption-style-1 .caption{
  position: relative;
  width: 90%; 
  height: 25%;
  -webkit-transition:all 0.15s ease-in-out;
  -moz-transition:all 0.15s ease-in-out;
  -o-transition:all 0.15s ease-in-out;
  -ms-transition:all 0.15s ease-in-out;
  transition:all 0.15s ease-in-out;
}

.caption-style-1 .caption-text{
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  transition: .5s ease;
  opacity:0;
  color: white;
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.food-img:hover .caption-text{
  opacity: 1;
}

/* footer */
.footer {
  margin-top: 30px;
}

.fa-heart {
  color: red;
  margin-left: 5px;
  margin-right: 5px;
  animation-name: pulse;
  animation-duration: .50s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  100% {transform: scale(1.3);}
}

/* Project timeline styling */
.hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255,255,255);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
  font-family: 'Noto Sans';
  font-weight: 200;
  font-size: 18px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.tab {
  display: inline-block;
  padding: 8px;
  font-family: 'Noto Sans';
  font-weight: 200;
  font-size: 15px;
  padding: 5px 10px;
}

.t-mobile-tab {
  background: #ea0a8e;
}
.timeline .t-mobile-hexa {
  background: #ea0a8e;
}
.timeline .t-mobile-hexa:before {
  border-bottom: 4px solid #ea0a8e;
}
.timeline .t-mobile-hexa:after {
  border-top: 4px solid #ea0a8e;
}

.mdb-tab {
  background: #2082FA;
}
.timeline .mdb-hexa {
  background: #2082FA;   
}
.timeline .mdb-hexa:before {
  border-bottom: 4px solid #2082FA;
}
.timeline .mdb-hexa:after {
  border-top: 4px solid #2082FA;
}


.femtech-tab {
  background: #C3C3DC;
}
.timeline .femtech-hexa {
  background: #C3C3DC;   
}
.timeline .femtech-hexa:before {
  border-bottom: 4px solid #C3C3DC;
}
.timeline .femtech-hexa:after {
  border-top: 4px solid #C3C3DC;
}

.periodic-tab {
  background: #b46b96;  
}
.timeline .periodic-hexa {
  background: #b46b96;   
}
.timeline .periodic-hexa:before {
  border-bottom: 4px solid #b46b96; 
}
.timeline .periodic-hexa:after {
  border-top: 4px solid #b46b96; 
}

.step-tab {
  background: #FDB515;
}
.timeline .step-hexa {
  background: #FDB515;   
}
.timeline .step-hexa:before {
  border-bottom: 4px solid #FDB515;
}
.timeline .step-hexa:after {
  border-top: 4px solid #FDB515;
}

.ursatech-tab {
  background: #70779D;
}
.timeline .ursatech-hexa {
  background: #70779D;  
}
.timeline .ursatech-hexa:before {
  border-bottom: 4px solid #70779D;
}
.timeline .ursatech-hexa:after {
  border-top: 4px solid #70779D;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  font-family: 'Open Sans';
  font-weight: 200;
  font-size: 18px;
  background: rgb(254,254,254);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.40);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.40);
  box-shadow: 0 0 1px rgba(0,0,0,0.40);
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media (min-width: 768px) {
.timeline {
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
  
.timeline .hexa {
  left: -28px;
  right: auto;
  top: 8px;
}

.timeline .direction-l .hexa {
  left: auto;
  right: -28px;
}

.direction-l {
  position: relative;
  width: 310px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 310px;
  float: right;
  text-align: left;
}

.flag-wrapper {
  display: inline-block;
}

.flag {
  font-size: 18px;
}

.direction-l .flag:after {
  left: auto;
  right: -16px;
  top: 50%;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(254,254,254);
  border-width: 8px;
}

.direction-r .flag:after {
  top: 50%;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(254,254,254);
  border-width: 8px;
  left: -8px;
}

.time-wrapper {
  display: inline;
  vertical-align: middle;
  margin: 0;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  padding: 5px 10px;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}
}

@media (min-width: 992px) {
  .timeline {
    width: 840px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 400px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 400px;
    float: right;
    text-align: left;
  }
}


/* styling for comments section */

textarea {
  margin-bottom: 1em;
  font-size: .9em;
  color: #2E4455;
  font-weight: 300;
  font-family: 'Noto Sans';
  padding: .5em 1em;
  border-color: #2E4455;
  width: 300px;
}

#name {
  height: 40px;
}

#comment {
  height: 100px;
}

.comments-name {
  font-family: 'Noto Sans';
  font-weight: 200;
  font-size: 18px;
}

.comments-text {
  font-family: 'Open Sans';
  font-weight: 200;
  font-size: 18px;
}

.drop-menu {
  font-family: 'Noto Sans';
  font-weight: 200;
  font-size: 18px;
}

#order, #number, #mood {
  margin-right: 20px;
}

.btn {
  border: 0;
  background-color: #2E4455;
  padding: 15px 17px;
  font-size: 14px;
  line-height: 1.0;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  font-family: 'Noto Sans';
  border-radius: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.single-delete-btn {
  border: 0;
  background-color: #4A99A7;
  font-size: 12px;
  line-height: 1.0;
  font-weight: 500;
  color: #ffffff;
  font-family: 'Noto Sans';
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn:focus,.btn:active,
.btn:hover {
  background-color: #4A99A7;
  color: white;
}
