*{
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  position: relative
}

#content {
    position: relative;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-bottom: 50px;
}

h1 {
    font-family: 'Noto Sans';
    font-weight: 300;
    font-size:  80px;
    font-style: bold;
    margin-bottom: 40px;
    margin-top: 35px;
}

p {
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 20px;
}

/* bio styling */

.bio-text{
    margin-left: 20px;
}
 
.social-icons-ul {
    display: flex;
    flex-direction: row;
    z-index: 2;
    list-style-type: none;
    margin-top: 20px;
    padding: 0px;

} 

.profile-img {
    margin-top: 10px;
}

.social-icons {
    height: 100%;
    width: 100%;
    font-size: 20px;
    margin: 25px 9px;
    padding: 15px;
    border-radius: 50%;
    background: #3e4040;
    color: #fff;
}
 
.social-icons:hover {
    background: #fff;
    color: #3e4040;
    border: 2px solid #3e4040;
}

#greeting-container {
  margin-top: 20px;
}

.profile-img img {
  vertical-align: middle;
  width: auto;
  max-height: 100%;
  border-radius: 50% ;
}


/* activities section styling */

h2{
    font-family: 'Noto Sans';
    font-weight: 300;
    font-size:  40px;
    font-style: bold;
    margin-top: 50px;
}

.underline-magical {
  background-image: linear-gradient(to right, rgb(250, 112, 154) 0%, rgb(254, 225, 64) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.underline-magical:hover{
    background-size: 100% 88%;
}

/* styling food diary section */

.food-dairy {
    margin-top: 40px;
    margin-left: 0px;
}

.food-img img {
  margin-top: 20px;
  vertical-align: left;
  padding-left: 0px;
  margin-left: 0px
}

.food-second {
    margin-top: 30px;
}

/* food pictures caption styling */

.caption-style-1:hover .caption{
    opacity: 1;
    transform: translateY(-100px);
    -webkit-transform:translateY(-100px);
    -moz-transform:translateY(-100px);
    -ms-transform:translateY(-100px);
    -o-transform:translateY(-100px);
}

.caption-style-1 .caption{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    bottom: 0px;
    right: 0px;
    left: 0px;
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;
}

.caption-style-1 .blur{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    z-index: 5;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 20px;
}

.caption-style-1 .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-align: center;
    top:20px;
}

/* footer */

footer {
    line-height: 50px;
    padding: 0 20px;
}

.footer {
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
}

.fa-heart {
  color: red;
  margin-left: 5px;
  margin-right: 5px;
  animation-name: pulse;
  animation-duration: .50s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  100% {transform: scale(1.3);}
}
